/* All colours referenced from https://www.w3schools.com/cssref/css_colors.asp */

* {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:coral;
}

h1 {
	font-size: 75px;
	font-weight: bold;
	margin: 25px;
}

h2 {
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	margin: 25px;
}

h3 {
	font-size: 40px;
	margin: 30px;
	color: #DC143C;
}

div{
	width: 45%;
}

img {
	float: right;
	padding-right: 10px;
}

ul {
	font-size: 30px;
	color: #000080;
}

.big {
	font-size: 40px;
	padding: 1px;
}

.medium {
	font-size: 30px;
	color: #006400;
}

.faint {
	font-size: 20px;
	position: fixed;
	bottom: 10px;
	left: 20px;
	color:#DCDCDC;
}

/* used https://www.w3schools.com/css/css3_buttons.asp as reference */
.button{
	font-size: 50px;
	background-color: #00BFFF;
	padding: 1px 40px;
	text-decoration: none;
	border: 2px solid;
}

.border {
	border: 2px solid;
	padding: 20px;
	margin: 20px;
}
